body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(135deg, #8C52FF, #8C52FF);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    width: 350px; 
    height: 250px; 
    margin: 0 auto; 
}

.folder {
    position: relative;
    animation: float 2.5s infinite ease-in-out;
    transition: transform 0.3s ease;
}

.folder:hover {
    transform: scale(1.05);
}

.folder .top {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.folder .bottom {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: 200px;
    height: 150px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 10px;
    position: relative;
    top: -10px;
}

.custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-block;
    width: 350px;
}

.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
}

.custom-file-upload input[type="file"] {
    display: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
h4 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p.main-desc-area {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.language-select-dropdowns {
    display: flex;
    justify-content: center;
}

.langrow label {
    font-weight: bold;
}

.langrow select {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 1000px;
    height: 300px;
    transition: all 0.2s;
    position: relative;
    margin-bottom: 10px;
}

.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    flex-direction: column; 
}

.button {
    display: block;
    margin: 20px auto; 
    position: relative;
    padding: 20px 44px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }